html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

audio {
    margin: 0 auto;
    display: block;
}
